:root{
    --main-rosa: rgba(243, 169, 192, 1);
}

/*@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Anton&display=swap');*/

html{
    scroll-padding-top: 35px;
    scroll-behavior:smooth !important;
}


html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
}


.iconoRedes:hover{
    transform:scale(1.1);
    filter: invert(100%) sepia(0%) saturate(621%) hue-rotate(193deg) brightness(97%) contrast(103%);
}

a{
    text-decoration: none;
    color: var(--main-rosa);
    &:hover{
        transition: 150ms;
        text-decoration: underline;
        color: white;
    }
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
    top: 0;
    z-index: 9;
    border-bottom: 2px solid white;
    width: 100%;
}

h1{
    color: var(--main-rosa);
    font-size: 58px;
    font-weight: 800;
    margin: 0;
}

#navbarSections{
    margin: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px; 
    flex-grow: 1;
    font-weight: 800;
    color: var(--main-rosa);
    font-size: 24px;
    text-align: center;
}

#redesSocialesNavbar{
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 15px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 5px 36px;
}

header{
    margin: 0 5%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#imgPortada{
    width: 100%;
    height: 690px;
    object-fit: cover;
    position: relative;
}
 

#textoPortada{
    color: var(--main-rosa);
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 14vw;

    position: absolute;
}

#introduccion{
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
    font-size: 15px;
}

#introduccion>p{
    max-width: 726px;
    text-align: justify;
}

.sr-only:not(:focus):not(:active){
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.dropcap{
    font-size: 6rem;
    float: left;
    margin: 0.1em 0.1em 0.1em 0;
    line-height: 0.55;
}


#galeria{
    margin-left: 8%;
    margin-right: 8%;
    height: 612px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: stretch;
    grid-gap: 15px;
}

.itemGaleria{
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.itemGaleria>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 150ms;
    
    &:hover{
        transition: 150ms;
        transform:scale(1.03);
        filter: blur(0px) brightness(56%);
    }
}

.descripcionImagen{
    text-align: center;
    font-size: 15px;
    max-width: 440px;
    font-weight: 800;
    position: relative;
    top: -150px;
    left: 0px;
    pointer-events: none;
    opacity: 0;
    transition: opacity .15s ease-in-out;
}

.item-1:hover .descripcionImagen,
.item-2:hover .descripcionImagen,
.item-3:hover .descripcionImagen,
.item-4:hover .descripcionImagen,
.item-5:hover .descripcionImagen,
.item-6:hover .descripcionImagen{
    opacity: 1;
}

/* .item-2:hover .descripcionImagen{
    opacity: 1;
}
 */
/*
.item-1{
    background-color: blue;

}

.item-2{
    background-color: aquamarine;
}

.item-3{
    background-color: bisque;
}

.item-4{
    background-color: blueviolet;
}

.item-5{
    background-color: brown;
}

.item-6{
    background-color: burlywood;
}
*/

#galeria4{
    object-position: center 25%;
}


/* Proximas fechas*/

#fechas{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    border: 2px solid white;
    max-width: 787px;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.fechaGrid{
    display: grid;
    width: 680px;
    border-radius: 7px;
    padding: 5px 20px 5px 8px;
    grid-template-columns: 1fr 3fr 1fr ; /* 3 columnas */
    grid-template-rows: 2fr 1fr; /* 2 filas*/
    column-gap: 15px;
    justify-content: center;
   /*  align-items: center; */
   margin-bottom: 17px;
   &:hover{
    background-color: #1B1B1B;
   }
}
/* 
.fechaGrid>*{
    border: 1px solid red;
}
 */
.fecha-dia{
    grid-area: 1 / 1 / 2 /2;
    text-align: center;
    font-size: 65px;
    font-weight: 800;
    color: var(--main-rosa);
    align-self: end;
    line-height: 80%;
}

.fecha-mes{
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: var(--main-rosa);
    align-self: start;
}

.fecha-ciudad{
    grid-area: 1 / 2 / 2 / 3;
    font-size: 30px;
    font-weight: 800;
    align-self: end;
    margin-bottom: 3px;
}

.fecha-lugar{
    grid-area: 2 / 2 / 3 / 3;
    font-size: 25px;
    font-weight: 500;
    align-self: start;
}

.fecha-boton{
    grid-area: 1 / 3 / 3 / 4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    color: white;
    background-color: var(--main-rosa);
    align-self: center;
    font-size: 25px;
    font-weight: 800;
    font-family: "Abhaya Libre", serif;
    border: none;
    &:hover{
        background-color: #f186a8;
        cursor: pointer;
        text-decoration: none;
    }
    &:active{
        background-color: var(--main-rosa);
        /* box-shadow: inset 0px -9px 3px 0px rgba(0,0,0,0.1); */
    }
}

.fecha-boton-agotados{
    background-color: #ACA9A9;
    &:hover{
        background-color: #858181;
        cursor: pointer;
        text-decoration: none;
    }
    &:active{
        background-color: #ACA9A9;
        /* box-shadow: inset 0px -9px 3px 0px rgba(0,0,0,0.1); */
    }
}

#videos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

#videosWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
}

#videos>p{
    color: #F3A9C0;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 0px;
}

.videoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 27px;
    text-align: center;
}

.videoThumbnail{
    width: 328px;
    height: 183px;
    flex-shrink: 0;
    border-radius: 7px;
    object-fit: cover;
}

.espaciado-seccion{
    margin-bottom: 124px;
}

#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botonContacto{
    margin: 107px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--main-rosa);
    padding: 15px 40px;
    color: white;
    border: none;
    border-radius: 14px;
    font-family: "Abhaya Libre", serif;
    font-size: 35px;
    font-weight: 800;
    &:hover{
        background-color: #f186a8;
        cursor: pointer;
        text-decoration: none;
    }
    &:active{
        background-color: var(--main-rosa);
        /* box-shadow: inset 0px -9px 3px 0px rgba(0,0,0,0.1); */
    }
}

footer{
    background-color: var(--main-rosa);
    color: white;
    width: 100%;
    /* height: 150px; */
    padding: 29px 0px 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    &>div>a{
        color: white;
    }

    #redesFooter{
        display: flex;
        flex-direction: row;
        gap: 25px;
    }
}
/* Tablet */
@media screen and (max-width: 992px) {
    #redesSocialesNavbar{
        display: none;
    }
    #introduccion>p{
        max-width: 520px;
        text-align: justify;
    }

    #galeria{
        margin-left: 40px;
        margin-right: 40px;
        max-width: 1370px;
        height: 100%;
        display: grid;
        gap: 18px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 250px);
    }

    .itemGaleria>img{
        mask-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 86%, rgba(0,0,0,0.17549026446516103) 100%);
        /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0.267))); */
        &:hover{
            transform:scale(1);
            transition: 150ms;
            filter: blur(0px) brightness(100%);
            cursor:auto;
        }
    }

    .descripcionImagen{
        text-align: center;
        font-size: 15px;
        max-width: 440px;
        font-weight: 800;
        position: relative;
        top: -20px;
        pointer-events: none;
        opacity: 1;
        transition: opacity .15s ease-in-out;
    }
/*
    .item-1:hover .descripcionImagen,
    .item-2:hover .descripcionImagen,
    .item-3:hover .descripcionImagen,
    .item-4:hover .descripcionImagen,
    .item-5:hover .descripcionImagen,
    .item-6:hover .descripcionImagen{
        opacity: 0;
    }
*/
    #videosWrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr);
        gap: 40px;
    }

    .videoContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .botonContacto{
        margin: 107px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: var(--main-rosa);
        padding: 10px 25px;
        color: white;
        border: none;
        border-radius: 14px;
        font-family: "Abhaya Libre", serif;
        font-size: 25px;
        font-weight: 800;
        width: 280px;
        &:hover{
            background-color: #f186a8;
            cursor: pointer;
            text-decoration: none;
        }
        &:active{
            background-color: var(--main-rosa);
            /* box-shadow: inset 0px -9px 3px 0px rgba(0,0,0,0.1); */
        }
        &>img{
            width: 25px;
            height: auto;
        }
    }
    
     
  }

/* Movil */
@media screen and (max-width: 600px) {
    html{
        scroll-padding-top: 52px;
    }

    h1{
        font-size: 40px;
    }
    

    #navbarSections{
        font-size: 14px;
        gap: 20px; 
        padding: 13px 0;
    }

    #imgPortada{
        width: 100%;
        height: 290px;
        object-fit: cover;
        position: relative;
    }

    #redesSocialesNavbar{
        display: none;
    }

    header{
        margin: 0;
    }

    #introduccion{
        margin: 0 38px;
        font-size: 12px;
    }
    
    #galeria{
        margin-left: 40px;
        margin-right: 40px;
        max-width: 1370px;
        height: 100%;
        display: grid;
        gap: 25px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 200px);
    }

    #fechas{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        border-radius: 7px;
        border: 2px solid white;
        max-width: 341px;
        justify-content: center;
        align-items: center;
        padding: 15px 0 20px;
    }

    .fechaGrid{
        display: grid;
        width: 311px;
        border-radius: 7px;
        padding: 5px 20px 5px 8px;
        grid-template-columns: 60px 3fr 1fr ; /* 3 columnas */
        grid-template-rows: 2fr 1fr; /* 2 filas*/
        column-gap: 15px;
        justify-content: center;
       /*  align-items: center; */
       margin-bottom: 0px;
       &:hover{
        background-color: #00000000;
       }
    }

    .fecha-dia{
        text-align: center;
        color: var(--main-rosa);
        font-size: 28px;
        font-weight: 800;
        align-self: end;
        line-height: 80%;
    }
    
    .fecha-mes{
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        color: var(--main-rosa);
        align-self: start;
    }
    
    .fecha-ciudad{
        grid-area: 1 / 2 / 2 / 3;
        font-size: 15px;
        font-weight: 800;
        align-self: end;
        margin-bottom: 3px;
    }
    
    .fecha-lugar{
        grid-area: 2 / 2 / 3 / 3;
        font-size: 14px;
        font-weight: 500;
        align-self: start;
    }
    
    .fecha-boton{
        grid-area: 1 / 3 / 3 / 4;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 91px;
        height: 28px;
        border-radius: 7px;
        color: white;
        background-color: var(--main-rosa);
        align-self: center;
        font-size: 18px;
        font-weight: 800;
        font-family: "Abhaya Libre", serif;
        border: none;
        &:hover{
            background-color: #f186a8;
        }
        &:active{
            background-color: var(--main-rosa);
            /* box-shadow: inset 0px -9px 3px 0px rgba(0,0,0,0.1); */
        }
    }

    .espaciado-seccion{
        margin-bottom: 81px;
    }


    .videoContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .fecha-boton-agotados{
        background-color: #ACA9A9;
        &:hover{
            background-color: #858181;
            cursor: pointer;
            text-decoration: none;
        }
        &:active{
            background-color: #ACA9A9;
            /* box-shadow: inset 0px -9px 3px 0px rgba(0,0,0,0.1); */
        }
    }

    #videos>p{
        color: #F3A9C0;
        text-align: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-top: 0px;
    }
    
  }

